.button{
width: 140px;
height: 23px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
margin: 3px;
font-size: 15px;
border:none;

}
input{
    text-align: right;
    color:rgb(131, 30, 30);
    font-size: 15px;

}
.buttonLogin{
    font-size: 30px;
    text-align: center;


}
form{
    text-align: right;
    
}
h1{
    text-align: center;
    color:rgb(131, 30, 30);
    font-size: 50px;
    padding:0px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}